body {
  background-color: rgb(1, 38, 69);
  margin: 10px;
  color: white;
}

.red-bg {
  background-color: red;
  color: white;
  width: 12%;
}

input {
  width: 30% !important;
}

.input {
  display: flex;
  gap: 20px;
}
